name: dependabot-auto-merge

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github-token: ${{ secrets.DEPENDABOT_AUTOMERGE }}
          target: minor
